@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
   padding-top: 80px;

   .navigateSection {
      @include flex_box_custom(space-between, center, 0px);

      color: $secondary-color;
      font-size: 1.4rem;
      font-weight: 500;
      padding: 10px 0;
   }

   .contentSection {
      @include flex_box_custom(unset, flex-start, 20px);

      .imageBox {
         max-width: 610px;
         width: 100%;

         display: flex;
         flex-wrap: wrap;
         gap: 10px;

         img {
            width: calc(100% / 2 - 10px);
            height: 300px;
            object-fit: cover;
            border-radius: 3px;
            cursor: zoom-in;
         }
      }

      .infoBox {
         flex-grow: 1;
         width: 100%;

         h1 {
            font-size: 2rem;
            margin-top: 0px;
            font-weight: 400;
            color: $fourth-color;
         }

         .price {
            font-size: 1.5rem;
            color: $secondary-color;
         }

         .description {
            color: $third-color;
            font-size: 1.5rem;
            font-weight: 400;
         }

         .titleSize {
            margin-bottom: 0.8rem;
            font-weight: 400;
            font-size: 1.6rem;
            color: $third-color;
         }

         .boxSize {
            @include flex_box_custom(flex-start, center, 10px);

            .size {
               border: 1px solid #e1e1e1;
               padding: 5px 10px;
               border-radius: 3px;
               cursor: pointer;
               font-size: 1.2rem;
               color: $third-color;
            }
         }

         .functionInfo {
            @include flex_box_custom(space-between, center, 2rem);

            margin-top: 2rem;

            .boxBtn {
               flex-grow: 1;
            }

            .increasementAmount {
               @include flex_box_custom(center, center, 0px);

               div {
                  border: 1px solid #e1e1e1;
                  padding: 8px 5px;
                  color: $secondary-color;
                  cursor: pointer;
               }
               div:nth-child(2) {
                  padding: 8px 10px;
                  color: $third-color;
                  cursor: unset;
               }
            }
         }

         .orSection {
            @include flex_box_custom(center, center, 0px);
            margin: 20px 0;

            div {
               width: 100%;
               height: 1px;
               background-color: #e1e1e1;
            }

            span {
               padding: 0 10px;
               font-size: 1.2rem;
               color: $fourth-color;
               text-transform: uppercase;
            }
         }

         .addFunction {
            @include flex_box_custom(unset, center, 10px);

            margin: 30px 0;

            div {
               @include flex_box_custom(center, center, 0px);

               border: 1px solid #e1e1e1;
               border-radius: 50%;
               padding: 10px;
               cursor: pointer;

               img {
                  width: 2rem;
                  height: 2rem;
               }
            }
         }

         .info {
            @include flex_box_custom(unset, flex-start, 10px);

            flex-direction: column;
            margin: 20px 0;
            color: $fourth-color;

            span {
               color: $secondary-color;
            }
         }
      }
   }
}

.containerInfo {
   font-weight: 300;

   div:last-child {
      border-bottom: unset;
   }
   .itemInfo {
      @include flex_box_custom(flex-start, center, 0px);

      border-bottom: 1px solid #e1e1e1;
      padding: 15px 8px;

      div {
         width: 50%;
      }

      .title {
         font-size: 1.6rem;
         color: $secondary-color;
      }

      .content {
         color: $third-color;
         font-size: 1.6rem;
      }
   }
}

.containerReview {
   .reviews {
      padding-bottom: 15px;
      border-bottom: 1px solid #e1e1e1;
   }

   .noreview {
      font-size: 1.4rem;
      color: $third-color;
      margin-bottom: 20px;
   }

   .replyForm {
      padding-top: 30px;

      .commentReplyTitle {
         font-size: 1.4rem;
         margin-bottom: 14px;
         padding-bottom: 14px;
         border-bottom: 1px solid #e1e1e1;
         color: $third-color;
      }

      .commentNotes {
         font-size: 1.4rem;
         color: $third-color;
         margin-bottom: 20px;
      }

      form {
         display: flex;
         flex-direction: column;
         gap: 20px;

         .commentFormCookiesConsent {
            display: flex;
            align-items: flex-start;
            gap: 5px;

            input {
               margin-top: 2px;
            }

            span {
               color: $third-color;
            }
         }

         .btnSubmit {
            width: 100%;
            max-width: 110px;
         }
      }
   }
}

.formItem {
   display: flex;
   flex-direction: column;
   gap: 5px;

   .boxItemStar {
      display: flex;
      gap: 25px;
   }

   label {
      font-size: 1.6rem;
      color: $third-color;

      span {
         color: #c62828;
      }
   }

   input,
   textarea {
      border: 1px solid #e1e1e1;
      padding: 8px 15px;
      outline: none;
      resize: vertical;

      &:focus {
         border: 1px solid $secondary-color;
      }
   }

   textarea:first-of-type {
      min-height: 50px;
   }
}
