@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.containerMethods {
   padding: 25px 0;
   position: relative;
   // height: 200px;
   width: 100%;
   border: 1px solid #e1e1e1;
   margin-top: 45px;

   .titleMethods {
      position: absolute;
      top: -9px;
      transform: translateX(-50%);
      left: 50%;
      background-color: #fff;
      padding: 0px 10px;
      text-transform: uppercase;
      font-size: 14px;

      span {
         color: #2e7d32;
      }
   }

   .boxImgMethods {
      @include flex_box_custom(space-evenly, center, 0px);
      margin-top: 15px;
   }

   .imgMethods {
      border: 1px solid #e1e1e1;
      width: 50px;
      height: 34px;
      border-radius: 5px;
   }
}

.textSecure {
   text-align: center;
   font-size: 14px;
   color: $third_color;
   margin-top: 10px;
}
