.chatbotContainer {
   position: fixed;
   bottom: 20px;
   right: 20px;
   z-index: 999;
}

.chatbotIcon {
   width: 60px;
   height: 60px;
   border-radius: 50%;
   background-color: #007bff;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   cursor: pointer;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   font-size: 28px;
   position: relative;
   z-index: 10;
}

.chatbotBox {
   width: 350px;
   height: 400px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
   display: flex;
   flex-direction: column;
   overflow: hidden;
   opacity: 0;
   pointer-events: none;

   position: absolute;
   bottom: 0;
   right: 0;
   transform: translateX(100%); /* ẩn hoàn toàn sang phải */
   transition: all 0.3s ease;

   &.open {
      opacity: 1;
      transform: translateX(0); /* trượt vào vị trí */
      pointer-events: auto;
   }
}

.chatbotHeader {
   background-color: #007bff;
   color: #fff;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   button {
      background: transparent;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
   }
}

.chatbotMessages {
   flex: 1;
   padding: 10px;
   overflow-y: auto;
   background-color: #f5f5f5;
   scroll-behavior: smooth;

   .chatbotMessage {
      margin-bottom: 5px;

      &.user {
         text-align: right;

         span {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 15px;
            background-color: #dcf8c6;
         }
      }

      &.bot {
         text-align: left;

         span {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 15px;
            background-color: #f1f0f0;
         }
      }
   }
}

.chatbotInput {
   display: flex;
   border-top: 1px solid #ddd;

   input {
      flex: 1;
      padding: 10px;
      border: none;
      outline: none;
   }

   button {
      padding: 10px 15px;
      border: none;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
   }
}
