@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
   @include flex_box_custom(center, center, 0px);

   left: 0;
   right: 0;
}

.topHeader {
   position: absolute;
   top: 0;
}

.FixedHeader {
   position: fixed;
   top: -75px;
   background-color: #ffffffeb;
   box-shadow: 2px 8px 12px 0px rgba(0, 0, 0, 0.15);
   backdrop-filter: blur(4px);
   z-index: 999;

   transform: translateY(75px);

   transition: transform 0.6s ease;
}

.containerHeader {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 83px;
   width: 1250px;
}

.containerBoxIcon {
   @include flex_box_custom(center, center, 14px);

   &:hover {
      cursor: pointer;
   }
}

.containerBox {
   @include flex_box_custom(center, center, 20px);
}

.containerMenu {
   @include flex_box_custom(center, center, 40px);
}

.boxIcon {
   @include radius_common(50%);
   @include flex_box_custom(center, center, 0px);

   background-color: $primary-color;
   width: 26px;
   height: 26px;
   cursor: pointer;
}

.menu {
   cursor: pointer;
   padding-top: 7px;
   font-size: 16px;
   color: $primary-color;
   position: relative;

   .subMenu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      padding: 10px;
      top: 40px;
   }

   &::after {
      content: '';
      display: block;
      height: 3px;
      background-color: $primary-color;
      margin-top: 3px;

      opacity: 0;
      transform-origin: left;
      transform: scale(0);
      transition: transform 0.3s, opacity 0.5s;
   }

   &:hover::after {
      opacity: 1;
      transform: scale(1);
   }
}

.boxCart {
   position: relative;

   .quantity {
      @include flex_box_custom(center, center, 0px);
      @include radius_common(50%);

      position: absolute;
      top: -9px;
      right: -8px;
      width: 15px;
      height: 15px;
      font-size: 12px;
      background-color: $primary-color;
      color: #fff;
      outline: 1px solid #fff;
   }
}
