@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
   @include flex_box_custom(center, center, 30px);

   flex-direction: column;
   background-color: $footer_color;
   color: $white_color;
   margin-top: 80px;
   padding: 60px 0px;
}

.boxNav {
   @include flex_box_custom(center, center, 60px);

   font-size: 15px;
   cursor: pointer;

   :hover {
      opacity: 0.5;
      
   }
}
